<h1 class="text-danger">خطا</h1>
<h2 class="text-danger">در پردازش درخواست شما خطایی رخ داده است</h2>
@*<h2>Please create an issue in <a href="https://github.com/simplcommerce/SimplCommerce/issues" target="_blank">https://github.com/simplcommerce/SimplCommerce/issues</a>. Thanks</h2>*@
